
.container{
    background:linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url("../images/bg_detail.jpg") no-repeat center/cover;
    height:130vh;
    grid-template-rows: 75px auto;
}
.detailmovie{
    display: grid;
    grid-template-rows: 40% 10% auto ;
}
.maincontainer{
    display: grid;
    grid-template-columns: auto 50% auto;
    background: rgba(66, 39, 50, 0.6);
    align-self: center;
    gap: 30px;
    width: 1000px;
    justify-self: center;
    padding: 20px 0;
    border-radius: 20px;
    border-bottom: 3px solid rgb(137, 45, 45);
    box-shadow: 1px 2px 5px rgb(108, 65, 65);

}

.maincontainer__poster{
    height: 260px;
    justify-self: end;
    border-radius: 5px;
    
    opacity: 0;
    transform: translateX(-50px);
    animation: slideRight 1.8s ease-out forwards;
}
.maincontainer__poster:hover{
    transform: scale(1.05);
}



.maincontainer__movieInf-title{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    font-family:cursive;
}

.maincontainer__movieInf{
    opacity: 0;
    transform: translateY(50px); /* Đặt form lệch xuống 50px */
    animation: slideUp 1.8s ease-out forwards; /* Chạy animation */
}


.maincontainer__movieInf__block1{
    display: flex;
    gap: 25px;
    font-size: 16px;
}

.maincontainer__movieInf__block1-title p{
    margin-bottom: 5px;
    font-weight: 400;
}

.maincontainer__movieInf__block1__Inf p{
    margin-bottom: 5px;
    font-weight: 400;
    opacity: 0.8;
}


.maincontainer__bookingbtn{
    align-content: center;
    font-size: 20px;
}
.booking-btn{
    padding: 8px 20px;
    border-radius: 17px;
    background: rgb(57, 40, 87);
    box-shadow: 0 4px 15px rgba(194, 64, 66, 0.2);
    color: rgb(205, 196, 196);
    font-size: 16px;
    text-shadow:0px 1px 1px rgb(193, 167, 167) ;
    transition:all 0.2s ease;

    opacity: 0.3;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.booking-btn:hover{
    box-shadow: 0px 6px 20px rgba(255, 65, 108, 0.6);
    transform: translateY(-1.5px);
}

.buttoncontainer{
    justify-self: center;
    align-self: start;
}


.buttoncontainer button {
    padding: 8px 20px;
    border-radius: 17px;
    background: rgb(26, 102, 189);
    box-shadow: 0 4px 15px rgba(194, 64, 66, 0.2);
    color: rgb(198, 188, 188);
    font-size: 16px;
    transition:all 0.2s ease;
    opacity: 0.3;
    animation: fadeIn 1.3s ease-in-out forwards;
    
}

.buttoncontainer .active{
    box-shadow: 0px 6px 20px rgba(122, 34, 204, 0.6);
    transform: translateY(-1.5px);
    background: rgb(48, 34, 152);
}

.buttoncontainer button:hover{
    box-shadow: 0px 6px 20px rgba(122, 34, 204, 0.6);
    transform: translateY(-1.5px);
    background: rgb(48, 34, 152);
}





.description{
    width:670px;
    justify-self: center;
    opacity: 0;
    transform: translateY(50px); 
    animation: slideUp 1.8s ease-out forwards; 
}

.lastblock{
    display: flex;
    justify-items: center;
    margin-bottom: 30px;
    padding: 50px;
    justify-self: center;
}

.hidden{
   display: none !important;
}


.trailer{
    justify-self: center;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.8s ease-out forwards; 


}

.schedule{
    display:grid;
    justify-self:center;
    width: 850px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-content: start;

    opacity: 0.3;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.schedule button{
    height: 60px;
    width: 150px;
    border-radius: 8px;
    background:rgba(215, 80, 134, 0.8);
    color:rgb(49, 48, 48);
    border: 4px outset rgb(46, 24, 48);
    transition:all 0.2s ease;
}
.schedule .time{
    font-size: 18px;

    color: rgb(242, 242, 242);
}

.schedule .Screenx{
    font-size: 17px;
    font-weight:500;
    color:rgb(0, 0, 0);
}
.schedule button:hover{
    box-shadow: 0px 6px 20px rgba(76, 198, 228, 0.6);
    transform: translateY(-1.5px);
    background:rgb(214, 81, 134);
}