.signup{
    width: 350px;
    height: 500px;
    display:flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    box-shadow: 2px 20px 20px rgba(98, 52, 215, 0.2);

    opacity: 0;
    transform: translateY(50px); /* Đặt form lệch xuống 50px */
    animation: slideUp 0.8s ease-out forwards; /* Chạy animation */
    
}

.signup h2{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.signup__form input::placeholder {
    color: white; 
    opacity: 0.8;
}