.mainpage{
    align-content: center;
    justify-items: center;
}
.signin{
    width: 350px;
    height: 400px;
    display:flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: 2px 20px 20px rgba(98, 52, 215, 0.2);

    opacity: 0;
    transform: translateY(50px); /* Đặt form lệch xuống 50px */
    animation: slideUp 1s ease-out forwards; /* Chạy animation */
}
.signin h2{
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



.signin__form input{
    width: 300px;
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    padding-left: 7px;
    background: rgba(0,0,0,0.5);
    color:white;
    border-radius: 10px;
    border: none;
    border-bottom:1px solid #555555;
    box-shadow: 0px 2px 4px rgb(116, 46, 117);


}
.signin__form input::placeholder {
    color: white; 
    opacity: 0.8;
    padding: 5px 5px;
}

.signin__form-submit {
    width: 150px;
    padding: 8px 0;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    background: linear-gradient(45deg, #cd395b, #e6583f);
    color: white;
    box-shadow: 0px 4px 10px rgba(255, 65, 108, 0.3);
    transition:all 0.2s ease;
    margin: 20px 0;
}

/* Hiệu ứng hover */
.signin__form-submit:hover {
    box-shadow: 0px 6px 20px rgba(202, 49, 85, 0.6);
    transform: translateY(-1.5px);
}

.signin__note{
    opacity: 0.7;
}
.signin__note-link{
    color: rgb(254, 136, 136);
}

.signin__note-link:hover{
    text-decoration: underline;
    color: rgb(255, 126, 126);
}


/* HIEU UNG */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}