.mainPage__Screens{
    display: grid;
    grid-template-rows: 25% auto !important;
    background:linear-gradient(to top, rgba(27, 25, 25, 0.3),rgb(68, 48, 61)), url("../images/bg__admin.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    color:rgb(255, 255, 255);
    position:relative;
}

.mainPage__Screens-title{
    border-bottom:3px inset rgb(146, 29, 150);
    border-left:3px inset rgb(72, 40, 40);
    box-shadow: 0px 4px 12px rgb(146, 29, 150);
    border-radius:5px;
    color: white;
    font-weight: normal;
    font-size: 15px;
    padding: 3px 15px;
    width: 300px;
    align-self: center;
    justify-self: center;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.mainPage__Screens__ContainerListCard{
    width: 90%;
    max-width: 1400px;
    height: 100%;
    display:grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Tạo lưới với các cột tự động */
    grid-template-rows: repeat(auto-fill, 400px); /* Tạo lưới với các hàng tự động */
    overflow-y: auto;
    overflow-x: hidden;
    justify-self: center;
    align-self: start;
    border-radius: 10px;
    padding:5px;
    padding-right:20px;
}

.mainPage__Screens__ContainerListCard__item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(35, 91, 211, 0.6);
    border-radius: 10px;
    padding: 20px;  
    box-shadow: 0px 4px 12px rgb(153, 25, 83);
    border: 3px inset rgb(0, 0, 0);
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.mainPage__Screens__ContainerListCard__item:hover{
    box-shadow: 0px 6px 20px rgba(76, 198, 228);
    transform: translateY(-5px);
}

.mainPage__Screens__ContainerListCard__item-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;;
    width:100%;
    text-align: start;
    padding:5px 10px;
    font-size: 25px;
    margin-top: 10px;
}

.mainPage__Screens__ContainerListCard__item__Containerinf{
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    grid-template-rows: repeat(2, auto); /* 2 hàng */
    gap: 25px; /* Khoảng cách giữa các ô */
    align-self: start;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
}

.mainPage__Screens__ContainerListCard__item__Containerinf div{
    border-radius: 10px;
    padding: 10px;
    background:rgb(64, 62, 83);
}

.mainPage__Screens__ContainerListCard__item__Containerinf span{
    color: rgb(209, 199, 199);
    font-size: 18px;
}
.mainPage__Screens__ContainerListCard__item__Containerinf p{
    font-size: 27px;
    margin:10px;
}


.mainPage__Screens__ContainerListCard__item__Containerinf-numSeats p{
    font-size: 35px;
}
.mainPage__Screens__ContainerListCard__item__Containerinf-AvailablenumSeats p{
    font-size: 35px;
}
/* Kiểu thanh cuộn */
.mainPage__Screens__ContainerListCard::-webkit-scrollbar {
    width: 9px;  /* Đặt độ rộng cho thanh cuộn */
}
.mainPage__Screens__ContainerListCard__item__Containerinf-status p{
    background-color:rgb(20, 129, 65);
    border-radius: 10px;
    padding: 5px 10px;
}

.mainPage__Screens__ContainerListCard::-webkit-scrollbar-thumb {
    background-color: #431e41;  /* Màu sắc cho phần thanh cuộn */
    border-radius: 10px;  /* Tạo góc bo tròn cho thanh cuộn */
    border: 2px solid #fff;  /* Thêm viền quanh thanh cuộn */
}

.mainPage__Screens__ContainerListCard::-webkit-scrollbar-track {
    background-color: #f1f1f1;  /* Màu nền cho thanh cuộn */
    border-radius: 10px;  /* Tạo góc bo tròn cho track */
}

/* Thêm hiệu ứng khi hover vào thanh cuộn */
.mainPage__Screens__ContainerListCard::-webkit-scrollbar:hover {
    width: 12px;  /* Mở rộng thanh cuộn khi hover */
}





/* Chi tiet tao so do cho ngoi */
.mainPage__Screens__DetailContainer{
    position:absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, rgba(74, 51, 94, 0.8),rgb(29, 32, 71,0.8));
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerScreenx{
    width: 60%;
    height: auto;
    min-height: 70%;
    max-height:100%;
    display: grid;
    grid-template-rows: 30% 80%;
    justify-content: center;
    text-align: center;
    border:1px solid rgb(255, 255, 255);
    background:linear-gradient(to top, rgba(61, 24, 68, 0.8),rgba(49, 56, 165, 0.8));
    padding: 30px;
    position:relative;
    border-radius: 10px; 
    animation:fadein 1.3s ease-in-out forwards;
    box-shadow: 0px 4px 12px rgb(153, 25, 83);

}
.containerScreenx h1{
    margin: 10px;
}
.containerScreenx input{
    margin-right:20px;
    width:100px;
    padding: 5px 10px;
    border-radius: 7px;
}
.input-container{
    margin-bottom:10px;
}

button {
    padding: 10px 20px;
    background-color: #287db6;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.SubmitChangeSeatLayout{
    padding: 10px 20px;
    background-color: #e92f5d;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.SubmitChangeSeatLayout:hover {
    background-color: #d0244c;
}
button:hover {
    opacity:0.8;
}

.seats-container {
    display: grid;
    gap: 7px;
    justify-content: center;
    margin-top:50px;
}

.seat {
    width: 35px;
    height: 35px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f8c8d;
    border-radius: 5px;
    cursor: pointer;
}

.seat.available {
    background-color: #2291eb;
}

.seat.selected {
    background-color: #2980b9;
}

.closeScreen {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(116, 42, 42);
    border: none;
    border-radius: 10px;;
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: transform 0.1s ease;
}
.closeScreen:hover {
    background: rgb(255, 0, 0);
    transform: scale(1.05);
}
.closeScreen:active{
    transform: scale(0.95);
    background: rgb(255, 0, 0);
} 