.mainPage__Shows{
    display: grid;
    grid-template-rows: 20% 60px 80%;
    background:linear-gradient(to top, rgba(0,0,0,0.3),rgb(69, 49, 62)), url("../images/bg__admin.jpg") no-repeat center/cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.mainPage__Shows-title{
    border-bottom:3px inset rgb(146, 29, 150);
    border-left:3px inset rgb(72, 40, 40);
    box-shadow: 0px 4px 12px rgb(146, 29, 150);
    border-radius:5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 15px;
    width: 330px;
    align-self: center;
    justify-self: center;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out forwards;
}

.mainPage__Shows__Containersearch{
    display:flex;
    width:60%;
    height: 100%;
    align-self: center;
    justify-self:center;
    gap: 8px;
    border:1px solid rgb(139, 139, 139);
    border-radius: 10px;
    background-color: rgba(46, 33, 33, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 12px rgb(146, 29, 150);
    border-left:3px inset rgb(72, 40, 40);
    color: white;
    font-weight: bold;
    animation: fadeIn 1.3s ease-in-out forwards;
}
